*.iso
*.elf
*.bin
*.bin.ld
build/
assets/
asm/
.ninja_log
.splache
build.ninja
**/__pycache__/
**/*.asmproc.d
objdiff.json
.venv/

tools/data-extractor

bin/*
!bin/*.sha1
!bin/*.sha256

disks/*
!disks/ULJM-05500.sha1
modules/
